## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
Thumbs.db

## codeigniter files to ignore
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

## eclipse project files
.settings/
.buildpath
.project
