@CHARSET "UTF-8";
/********************
*
* Login page
*
*********************/
.sliderbox{
	width: 550px;
	height: 400px;
	margin: 20px 30px;
	float:left;
}

    .sliderbox .logo{
	    margin-left: 24px;
	    margin-bottom: -30px;
    }

    .sliderbox #beta{
        margin-left: -16px;
        margin-top: 59px;
        position: absolute;
        font-size: 12px;
        color: #3A5FFE;
    }
    
    .sliderbox .slider{
        width: 400px;
        height: 230px;
        left: 70px;
        border: 1px solid black;
    }
    
    .sliderbox .account{
        float:left;
        height: 40px;
        padding-top: 30px;
        margin-left:70px;
    }
	    .sliderbox .account span{
	       font-weight: bold;
	       font-size: 13px;
	    }
	    
	    .sliderbox .account a{
	       font-size:12px;
	       text-decoration: none;
	    }.sliderbox .account a:hover{
	       text-decoration: underline;
	    }
	    
    .sliderbox .social{
        float:left;
        height: 40px;
        padding-top: 5px;
        margin-left:20px;
        width:260px;
    }
    
    .sliderbox .social{
        text-align: center;
    
    }
    
	    .sliderbox .social span{
	        font-size: 12px;
	        font-weight: bold;
	    }

        .sliderbox ul{
            margin:0;
            padding:0;
        }
	        .sliderbox .social ul li{
	            display: inline;
	            margin-left:6px;
	        }
	        
	        .sliderbox .social a{
	            text-decoration: none;
	        }
	        
	        .sliderbox .social .social-icon{
	            margin-top: 5px;
	            position: relative;
	        }

.loginbox{
    width: 250px;
    height: 400px;
    margin: 20px 30px 20px 40px;
    float:left;
}
    .loginbox h1{
        margin-top:10px;
        text-align: center; 
        font-size: 38px;
        font-weight: bold;
        color: #0DFC4D;
        
	    text-shadow: 0.01em 0.01em 0.01em black;
	    -webkit-text-shadow: 0.01em 0.01em 0.01em black;
	    -moz-text-shadow: 0.01em 0.01em 0.01em black;
    
    }
    
    .loginbox .error{
        color:#C20000;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-left: 12px;
        margin-top: -20px;
        position: absolute;
    }
    
    .loginbox form{
        margin-left:23px;
        margin-top:20px;
        
    }
    
        .loginbox form label{
	        font-weight: bold;
	        font-size: 12px;
	        font-family: sans-serif;
	        color: #404040;
	        text-shadow: 0.02em 0.02em 0.1em white;
	        -webkit-text-shadow: 0.02em 0.02em 0.1em white;
	        -moz-text-shadow: 0.02em 0.02em 0.1em white;
        }
    
        .loginbox #email, .loginbox #password{
            width: 190px;
            margin-bottom: 10px;
            margin-top: 5px;
        }
        
        .loginbox #submit, .loginbox #cancel{
            margin-right:20px;
            width: 88px;
            margin-bottom: 15px;
         }
         
    .loginbox #forgot{
        font-size:14px;
        text-decoration: none;
        margin-left:22px;
        }.loginbox #forgot:hover{
           text-decoration: underline;
        }
    
    /********************
    *
    * Edition page
    *
    *********************/
    
    #main_menu #main-lblock{
        float:left;
    
    }
    
    #main_menu #main-rblock{
        float:right;
    
    }